.txt{
	color:white;
}

.img-circle {
    border-radius: 50%;
}

.txt{
	color:white;
	
}

.up{
	margin-top: 5%;
	
	
}
.size{
	width:10px;
	height:10px;
}




.same{
	
	margin-left: 2%; 
	margin-right: 2%
	
}

.artist{
	padding-left:10%;
}


.box1 {
    background-color: blue;
}

.mg{
	margin-right:50px;
	
	
	
}


@media only screen and (min-width: 360px) {
.phone {

padding-top: 100%;
margin-top:50%;

}	

.cen{
	margin-left:-10px;
	
}

	
#wrapper{
		
    padding-top: 20%;
	
}
}


@media only screen and (min-width: 992px) {

#wrapper{
		
    padding-top: 6%;

}
.margin{
	
	margin-left:10%;
	margin-right:10%;
	
}
}


