.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
	width: 100% \9;
	
	
}

@media only screen and (min-width: 320px) {
.img {

	margin-left: 4%;
	
}

.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
	width: 100% ;
	
	
}		
#wrapper{
		
    padding-top: 26%;

}
}

@media only screen and (min-width: 360px) {
.img {

margin-left: 2%;

}		
#wrapper{
		
    padding-top: 20%;
	
}
}

@media only screen and (min-width: 375px) {
.img {

margin-left: 1%;
}		
#wrapper{
		
    padding-top: 20%;

}

}

@media only screen and (min-width: 412px) {
.img {

margin-left: 1%;
}
#wrapper{
		
    padding-top: 20%;

}
}		


@media only screen and (min-width: 768px) {
.img {

margin-left: 1%;
}		
#wrapper{
		
    padding-top: 15%;

}

}

@media only screen and (min-width: 992px) {
.img {

margin-left: 16%;
}
#wrapper{
		
    padding-top: 10%;

}
}