a.navbar-brand.navbar-link{
  font-family:kristen ITC;
  color:white;
  margin-top: -3px;
  margin-bottom: 8px;
  
}
h4.settings {
  font-family:kristen ITC;
  color:white;
}

.settingsBtn{
	background-color: black;
	/* border: 2px solid orange; */
	color: rgb(242,242,242);
}
.settingsBtn:focus{
	color: white;
	outline: none;
}
.settingsBtn:hover{
	color: white;
}
textarea.addthought {
	
	border-radius: 10px; border: 2px solid #b2b2b2; background-color: #f4f4f4;
}

fieldset.changepass {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.changepass {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;

}

#topnav{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#leftnav{
	/* background-color:  #f3f2f2; */
	margin-top: 85px;
}

ul{
	list-style-type: none;
}
li{
	display: block;
}

.albumBox{
	margin-top: 20px;
	/* background-color: #e1e1e1; */
	border: 1px solid rgb(217,217,217);
	padding: 16px 12px 12px 12px;
}
.albumCover{
	height: 100px;
	width: 100px;
	background-size: cover;
	
}

#releaseaudiobtn {
    position: fixed;
    bottom: 20px;
    right: 20px; 
	border-radius: 50%;
	border: 1px solid black;
	background-color: #1a1a1a;
	color: white;
	line-height: 30px;
}

#thoughtbtn {
    position: fixed;
    bottom: 20px;
    right: 80px; 
	border-radius: 50%;
	border: 1px solid black;
	background-color: #1a1a1a;
	color: white;
	line-height: 30px;
}
#releaseaudiobtn:focus , #thoughtbtn:focus {
	outline: none;
}
#releaseaudiobtn:hover , #thoughtbtn:hover {
	background-color:  #ff9900;
	transition: 0.4s;
	bottom: 30px;
	/* border: 2px solid #262626; */
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

/*Post (Thoughts) CSS*/
.belowtn{
	top: 60px;
	position: relative;
	
}
.header{
	width: 100%; height: 170px;
	background-size: cover; 
	padding-top: 10px;
}

.dpSection{
	width: 100px; height: 100px;
	border-radius: 50%; 
	background-size: cover; 
	margin: 0 auto; border: 2px solid orange;
}
.postcont{
	
	position: relative;
	padding: 2px 10px 10px 10px;
	margin: 5px 0px 5px 0px;
}
.posttemp{
	border: 1px solid #b3b3b3;
	margin-top: 10px;
	/* border-radius: 10px; */
}
.posthead{
	
	background: linear-gradient(white,#DCDCDC);
	background-color: 	white;
	/* border: 1px solid rgb(217,217,217); */
	padding: 16px 12px 12px 12px;
	/* border-radius: 10px; */
}
.postbody{
	background-color: 	white/*#d9d9d9 #e6e6e6 rgb(242,242,242)*/;
	padding: 12px 15px;
	padding-bottom: 2px;
	
	/* border-left: 1px solid 	#cccccc; */
	/* border-right: 1px solid #cccccc; */
}
.postbodycont{
	border-radius: 10px;
	background-color: white;
	
	padding: 8px 7px 3px 7px;
	margin-bottom: 5px;
}

#likesection{
	background-color: white/*#e6e6e6*/;
	color: #666666;
	/* border-left: 1px solid 	#cccccc; */
	/* border-right: 1px solid #cccccc; */
}

.postPic{
	border-radius: 50%; 
	background-size: cover; 
	border: 2px solid orange;
	width: 45px; height: 45px;
}

p.bar, a.bar, i.bar {
	display: inline-block;
	margin-bottom: 0;
}
a.user:hover{
	color: black;
	cursor: pointer;
}

a.listnav:hover{
	color: black;
}
a.listnav{
	color: #1a1a1a;
}

/*Like and CommentButton Properties*/
.like ,.comment{
	color: black;
}
.like:hover, .comment:hover{
	color:  orange /*#ffa64d*/;
}

/*When Like button is pressed*/
.like[aria-pressed="true"],
[role="button"][aria-pressed="true"] {
    color: orange /*#ff9900*/;
}


		
#listNav{
	margin: 5px auto; 
	position:relative;
	color: grey;
	
}
.leftdp{
	margin-top: 10px; width: 90px; border: 2px solid orange; border-radius: 50%;
}
.searchBtn{
	color: rgba(242,242,242, .5);
	background-color: rgba(242,242,242, 0.1);
	border: 1px solid rgba(255, 255, 255,0.2);
}
.searchBtn:hover{
	background-color: none;
	color: white;
	/* background-color: rgba(255, 255, 255,0.3); */
}
.searchBtn:target{
	color: white;
	/* background-color: rgba(255, 255, 255,0.3); */
}
.searchbar{
	background-color: rgba(242,242,242, .2);
	color: white;
	border: none;
}
.searchbar:focus{
	/* border-bottom: 1px solid orange; */
	background-color: rgba(242,242,242, .3);
	outline: none;
	box-shadow: none;
}

.post{
	margin: 0 auto;
}

/*Login page*/

html, #body{
  	width:100%;
	height:100%;
}

canvas{
  display:block;
  vertical-align:bottom;
}
#login-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 1px solid black; */
	width:50%;
	padding: 10px;
	width:67.67vh;
	background: rgba(255,255,255,0.9);
}
.btn-custom {
  background-color: hsl(54, 7%, 0%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#787668", endColorstr="#000000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#787668), to(#000000));
  background-image: -moz-linear-gradient(top, #787668, #000000);
  background-image: -ms-linear-gradient(top, #787668, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787668), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #787668, #000000);
  background-image: -o-linear-gradient(top, #787668, #000000);
  background-image: linear-gradient(#787668, #000000);
  border-color: #000000 #000000 hsl(54, 7%, -11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.72);
  -webkit-font-smoothing: antialiased;
}
	.signupForm:focus { border: 1px solid #ffa64d; box-shadow: none;}
	.form-control{ margin-bottom: 10px; }


	#login-dp{
		padding: 14px 14px 0;
		overflow:hidden;
		background-color:rgba(255,255,255,.8);
	}
	#login-dp .help-block{
		font-size:12px    
	}
	#login-dp .bottom{
		background-color:rgba(255,255,255,.8);
		border-top:1px solid #ddd;
		clear:both;
		padding:14px;
	}
	
	#login-dp .form-group {
		margin-bottom: 10px;
	}

	@media(max-width:768px){
		#login-dp{
			background-color: inherit;
			color: #fff;
		}
		#login-dp .bottom{
			background-color: inherit;
			border-top:0 none;
		}

	}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #46494f;
  background-image: url('http://localhost/mimo/assets/img/nightsky3.jpg');
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
#sticky {
  width:100%;
  padding:20px;
  padding-bottom:16px;
  background:black;
  color:white;
  font-size:15px;
  text-align:center;
  position:fixed;    /*Here's what sticks it*/
  bottom:0;          /*to the bottom of the body*/
  left:0;            /*and to the left of the body.*/
  
  /*EFFECTS*/
  background:rgba(0, 0, 0, .5) /*the a value of .5 makes it transparent*/
}

