#img-Head{
	margin: 10px auto;
}

.del, .collect{
	color: grey;
}

.view, .view:hover{
	color: black;
}

.del:hover{
	color: red;
}
.collect:hover{
	color: #ff9900;
}
.tabbg{
	background-image: url('http:localhost/mimo/assets/img/nightsky3');
	filter: blur(25px);
}
.postComment , .postComment:hover , .postComment:focus{
	line-height: 10px;
	background-color: #404040;
	display: inline-block;
	border-radius: 3px;
	color: white;
	font-size: 13px;
	outline: none;
}

.postComment:hover , .postComment:focus{
	line-height: 10px;
	background-color: #737373;
	display: inline-block;
	border-radius: 3px;
	color: white;
	font-size: 13px;
	outline: none;
	transition: 0.5;
}

.commentDiv{
	background-color: #f2f2f2;
	width: 100%;
	padding: 10px;
	padding-top: 15px;
	border-top: 1px solid #d9d9d9;
	position: relative;
}
.commentatorDiv{
	height: 300px;
	overflow: auto;
	
}
.commentPic{
	border-radius: 50%; 
	background-size: cover; 
	width: 30px; height: 30px;
}
.commentUser{
	font-size: 12px;
	font-weight: bold;
}

#commentBox{
	/* line-height: 20px; */
	border-radius: 10px;
	font-size: 12px;
}

#commentBox:focus{
	outline: none;
}


a.follow , a.follow:hover , a.follow:focus{
    background-image: linear-gradient(rgb(0, 150, 255), rgb(0, 93, 255));
    color: white;
   
}

a.unfollow , a.unfollow:hover , a.unfollow:focus {
    color: white;
    background: #ff1a1a;
}

a.following {
    color: #333333;
    background: #f3f3f3;
}


.profile{
	color: #f2f2f2
}

.tab-content{ 
	background-color:#f2f2f2; 
	padding:5px; 
	padding-bottom: 80px;
	/* border: 1px solid #cccccc; */
}

.nav-tabs{ 
	margin-top: 0;
	background-color: #404040;
	border:none;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
	border:none;
	background-color: #f2f2f2;
	color: #1a1a1a;
	font-weight: bold;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	color: white;
	border-radius: 0%;
	background-color: #404040;
	border: none;
}

a.navbar-brand.navbar-link{
  font-family:kristen ITC;
  color:white;
  margin-top: -3px;
  margin-bottom: 8px;
  
}
h4.settings {
  font-family:kristen ITC;
  color:white;
}

.settingsBtn{
	background-color:  grey;
	border: 3px solid white;
	color: white;
	border-radius: 40px;
	
}
.settingsBtn:hover{
	color: white;
	background-color:  #ff8c1a;
	transition: 0.4s;
}
.settingsBtn:focus{
	outline: none;
}
textarea.addthought {
	
	border-radius: 10px; border: 2px solid #b2b2b2; background-color: #f4f4f4;
}

fieldset.changepass {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.changepass {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;

}

#topnav{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#leftnav{
	/* background-color:  #f3f2f2; */
	margin-top: 85px;
}

ul{
	list-style-type: none;
}
li{
	display: block;
}

#audDesc{
	color: #808080;
	font-size: 12px;
}

.albumBox{
	margin-top: 20px;
	background-color: #f2f2f2;
	border: 1px solid #b3b3b3;
	padding: 16px 12px 12px 12px;
}
.albumCover{
	height: 130px;
	width: 130px;
	background-size: cover;
	
}

#addvideobtn {
    position: fixed;
    bottom: 40px;
    right: 20px; 
	border-radius: 50%;
	border: 1px solid black;
	background-color: #1a1a1a;
	color: white;
	line-height: 30px;
	opacity: 0.6;
}

#releaseaudiobtn {
    position: fixed;
    bottom: 40px;
    right: 80px; 
	border-radius: 50%;
	border: 1px solid black;
	background-color: #1a1a1a;
	color: white;
	line-height: 30px;
	opacity: 0.6;
}



#thoughtbtn {
    position: fixed;
    bottom: 40px;
    right: 140px; 
	border-radius: 50%;
	border: 1px solid black;
	background-color: #1a1a1a;
	color: white;
	line-height: 30px;
	opacity: 0.6;
}
#releaseaudiobtn:focus , #thoughtbtn:focus , #addvideobtn:focus{
	outline: none;
}
#releaseaudiobtn:hover , #thoughtbtn:hover , #addvideobtn:hover{
	background-color:  #ff9900;
	transition: 0.4s;
	bottom: 55px;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	opacity: 1.0;
}

/*Post (Thoughts) CSS*/
.belowtn{
	top: 60px;
	position: relative;
	
}
.header{
	width: 100%; height: 140px;
	background-size: cover; 
	padding-top: 10px;
}
.headerStudio{
	width: 100%; height: 400px;
	background-size: cover; 
	padding-top: 20px;
}

.dpSection{
	width: 100px; height: 100px;
	border-radius: 50%; 
	background-size: cover; 
	margin: 0 auto; border: 2px solid orange;
}
.dpSectionStudio{
	width: 120px; height: 120px;
	border-radius: 50%; 
	background-size: cover; 
	margin: 0 auto; border: 2px solid orange;
}
.postcont{
	
	position: relative;
	padding: 2px 10px 10px 10px;
	margin: 5px 0px 5px 0px;
}
.posttemp{
	border: 1px solid #b3b3b3;
	margin-top: 20px;
	/* border-radius: 10px; */
}

.posthead{
	
	background: linear-gradient(white,#DCDCDC);
	background-color: 	white;
	/* border: 1px solid rgb(217,217,217); */
	padding: 16px 12px 12px 12px;
	/* border-radius: 10px; */
}
.postbody{
	background-color: 	white/*#d9d9d9 #e6e6e6 rgb(242,242,242)*/;
	padding: 12px 15px;
	padding-bottom: 2px;
	
	/* border-left: 1px solid 	#cccccc; */
	/* border-right: 1px solid #cccccc; */
}

.postbodyaudio{
	background-color:  #f2f2f2/*#d9d9d9 #e6e6e6 rgb(242,242,242)*/;
	padding: 12px 15px;
	padding-bottom: 2px;
	
	/* border-left: 1px solid 	#cccccc; */
	/* border-right: 1px solid #cccccc; */
} 

.postbodycont{
	border-radius: 10px;
	background-color: white;
	
	padding: 8px 7px 3px 7px;
	margin-bottom: 5px;
}

#likesection{
	background-color: white/*#e6e6e6*/;
	color: #666666;
	border-top: #e6e6e6;
	/* border-left: 1px solid 	#cccccc; */
	/* border-right: 1px solid #cccccc; */
}

.likesectionaud{
	background-color: #f2f2f2/*#e6e6e6*/;
	color: #666666;
	/* border-left: 1px solid 	#cccccc; */
	/* border-right: 1px solid #cccccc; */
}

.postPic{
	border-radius: 50%; 
	background-size: cover; 
	border: 2px solid orange;
	width: 45px; height: 45px;
}

p.bar, a.bar, i.bar {
	display: inline-block;
	margin-bottom: 0;
}
a.user:hover{
	color: black;
	cursor: pointer;
}

a.listnav:hover{
	color: black;
}
a.listnav{
	color: #1a1a1a;
}

/*Like and CommentButton Properties*/
.like ,.comment, .view{
	color: black;
}
.like:hover, .comment:hover, .liked{
	color:  orange /*#ffa64d*/;
}

/*When Like button is pressed*/
.like[aria-pressed="true"],
[role="button"][aria-pressed="true"] {
    color: orange /*#ff9900*/;
}


		
#listNav{
	margin: 5px auto; 
	position:relative;
	color: grey;
	
}
.leftdp{
	margin-top: 10px; width: 90px; border: 2px solid orange; border-radius: 50%;
}
.searchBtn{
	color: rgba(242,242,242, .5);
	background-color: rgba(242,242,242, 0.1);
	border: 1px solid rgba(255, 255, 255,0.2);
}
.searchBtn:hover{
	background-color: none;
	color: white;
	/* background-color: rgba(255, 255, 255,0.3); */
}
.searchBtn:target{
	color: white;
	/* background-color: rgba(255, 255, 255,0.3); */
}
.searchbar{
	background-color: rgba(242,242,242, .2);
	color: white;
	border: none;
	width: 300px;
}
.searchbar:focus{
	/* border-bottom: 1px solid orange; */
	background-color: rgba(242,242,242, .3);
	outline: none;
	box-shadow: none;
}


.searchResult{
	 list-style-type: none;
    padding: 0;
    margin-top: 10px;
	position: relative;
	z-index: 50;
	border:none;
	border-radius:0px;
	width: 200px;
}

li.sR  a{
	padding: 0;
    margin-top: -1px;
    text-decoration: none; 
    font-size: 12px; 
    color: white;
	position: relative;
	display: block;
	
}
li.sR:child a:hover{
	
    color: grey;
	
}
li.sR{
		background-color: rgba(80,80,80,0.9);
		border:none;
		border-radius:0px;

}
li.sR:hover{
		background-color: rgba(200,200,200.0.9);
		border:none;
}
.post{
	margin: 0 auto;
}

/*Login page*/

html, #body{
  	width:100%;
	height:100%;
}

canvas{
  display:block;
  vertical-align:bottom;
}
#login-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 1px solid black; */
	width:50%;
	padding: 10px;
	width:67.67vh;
	background: rgba(255,255,255,0.9);
}
.btn-custom {
  background-color: hsl(54, 7%, 0%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#787668", endColorstr="#000000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#787668), to(#000000));
  background-image: -moz-linear-gradient(top, #787668, #000000);
  background-image: -ms-linear-gradient(top, #787668, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787668), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #787668, #000000);
  background-image: -o-linear-gradient(top, #787668, #000000);
  background-image: linear-gradient(#787668, #000000);
  border-color: #000000 #000000 hsl(54, 7%, -11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.72);
  -webkit-font-smoothing: antialiased;
}
	.signupForm:focus { border: 1px solid #ffa64d; box-shadow: none;}
	.form-control{ margin-bottom: 10px; }


	#login-dp{
		padding: 14px 14px 0;
		overflow:hidden;
		background-color:rgba(255,255,255,.8);
	}
	#login-dp .help-block{
		font-size:12px    
	}
	#login-dp .bottom{
		background-color:rgba(255,255,255,.8);
		border-top:1px solid #ddd;
		clear:both;
		padding:14px;
	}
	
	#login-dp .form-group {
		margin-bottom: 10px;
	}

	@media(max-width:768px){
		#login-dp{
			background-color: inherit;
			color: #fff;
		}
		#login-dp .bottom{
			background-color: inherit;
			border-top:0 none;
		}

	}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #46494f;
  background-image: url('http://localhost/mimo/assets/img/mp3.jpg');
  background-position: 100% 100%;
  background-attachment: center;
  background-repeat: no-repeat;
}
#sticky {
  width:100%;
  padding:20px;
  padding-bottom:16px;
  background:black;
  color:white;
  font-size:15px;
  text-align:center;
  position:fixed;    /*Here's what sticks it*/
  bottom:0;          /*to the bottom of the body*/
  left:0;            /*and to the left of the body.*/
  
  /*EFFECTS*/
  background:rgba(0, 0, 0, .5) /*the a value of .5 makes it transparent*/
}

